doctype html
html
	head
		title #{title}
		meta(name='generator', content='lighter blog engine')
		meta(name='viewport', content='initial-scale=1.0,maximum-scale=1.0')
		link(rel='stylesheet', href='/styles/style.css')
		link(rel='stylesheet', href='/styles/media.css')
		link(rel='stylesheet', href='/styles/highlight.css') 
		link(rel='alternate', href='/api/atom/feeds/1', title='#{title}', type='application/atom+xml')
		link(rel='EditURI', type='application/rsd+xml', title='RSD', href='/rsd.xml') 
		script(type='text/javascript', src='/disqus.js')
		body
			header(class='main')	
					h1
						a(href='/') #{title}
			section(class='main')
				section(class='content')
					section
						block content
					aside
						section
							include recent
			footer
				p Copyright © 2013 - Mehfuz Hossain
