doctype html
html
	head
		title #{title}
		link(rel='stylesheet', href='/styles/style.css')
		link(rel='stylesheet', href='/styles/highlight.css')
		link(rel='EditURI', type='application/rsd+xml', title='RSD', href='/rsd.xml')

		body
			header(class='main')	
					h1 
						a(href='/') Mehfuz's blog
					nav
						ul(class='main-navigation')
							li
								a(href='/') Blog
							li	
								a(href= '/about') About	
			section(class='main')
				section(class='content')
					section
						block content
					aside
						section
							include recent
			footer
				p Copyright © 2013 - Mehfuz Hossain
