extends layout

block content
	article	
		header
				time=postedOn
				h1 Writing ASP.NET MVC bootstrapper using AutoBox

			Upgrading via a tarball

			To upgrade Node.js simply download the new tarball, extract and repeat the installation process.

			Installing from Git

			If you plan to upgrade each time a new release comes out you may find cloning the Git repository more convenient than downloading and extracting a tarball each time.

			You will need Git and the dependencies to be installed first.