extends layout

block content
	article	
		header
			time #{post.date.toDateString()}
			h1 #{post.title}
		section !{post.body}
			for category in post.categories
				div(class='category') #{category}
		section(class='comments')
			div(class='controls') Discussions
			div(id='disqus_thread')
