doctype xml

manifest(xmlns='http://schemas.microsoft.com/wlw/manifest/weblog')
	weblog
		serviceName #{service}
		adminUrl #{host}api/metablog
	options
		clientType Metaweblog
		maxCategoryNameLength 256
		supportsNewCategories Yes
		requiresHtmlTitles No
		supportsEmptyTitles No
		


