@font-face {
    font-family: 'AsapRegular';
    src: url('/fonts/Asap-Regular-webfont.eot');
    src: url('/fonts/Asap-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Asap-Regular-webfont.woff') format('woff'),
         url('/fonts/Asap-Regular-webfont.ttf') format('truetype'),
         url('/fonts/asap/Asap-Regular-webfont.svg#AsapRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AsapItalic';
    src: url('/fonts/Asap-Italic-webfont.eot');
    src: url('/fonts/Asap-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Asap-Italic-webfont.woff') format('woff'),
         url('/fonts/Asap-Italic-webfont.ttf') format('truetype'),
         url('/fonts/Asap-Italic-webfont.svg#AsapItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AsapBold';
    src: url('/fonts/Asap-Bold-webfont.eot');
    src: url('/fonts/Asap-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Asap-Bold-webfont.woff') format('woff'),
         url('/fonts/Asap-Bold-webfont.ttf') format('truetype'),
         url('/fonts/Asap-Bold-webfont.svg#AsapBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AsapBoldItalic';
    src: url('/fonts/Asap-BoldItalic-webfont.eot');
    src: url('/fonts/Asap-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Asap-BoldItalic-webfont.woff') format('woff'),
         url('/fonts/Asap-BoldItalic-webfont.ttf') format('truetype'),
         url('/fonts/Asap-BoldItalic-webfont.svg#AsapBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumText22LRegular';
    src: url('/fonts/TitilliumText22L003-webfont.eot');
    src: url('/fonts/TitilliumText22L003-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/TitilliumText22L003-webfont.woff') format('woff'),
         url('/fonts/TitilliumText22L003-webfont.ttf') format('truetype'),
         url('/fonts/TitilliumText22L003-webfont.svg#TitilliumText22LRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lacuna';
    src: url('/fonts/lacuna-webfont.eot');
    src: url('/fonts/lacuna-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lacuna-webfont.woff') format('woff'),
         url('/fonts/lacuna-webfont.ttf') format('truetype'),
         url('/fonts/lacuna-webfont.svg#TitilliumText22LRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
