.layout
{
	body{    
	 header.main{ 
		 nav {
				dispay:none;
			}         
		}
		section.main{
			min-width:0px; 
			section.content{
				margin-right:0px;
				border-right:none;   
				aside{
					display:none;
				}
			}
		}
	}
}

@media screen and (max-width:1024px){
	 .layout;
}

@media screen and (max-width:320px){
	.layout;
	body{
		header.main{
			padding-right:10px;
			padding-left:10px;
		} 
		
		section.main{
			section.content{
				section{
					padding-right:0px;
					padding-left:0px;
					article{
						padding-right:10px;
						padding-left:10px;
					} 
					width:100%;
				}
			}
		}
		
		footer{
			padding-right:10px;
			padding-left:10px;
		}
	} 
}

