.layout
{
	body{    
	 header.main{ 
		 nav {
				dispay:none;
			}         
		}
		section.main{
			min-width:0px; 
			section.content{
				margin-right:0px;
				border-right:none;   
				aside{
					display:none;
				}
			}
		}
	}
}

@media screen and (max-width:1024px){
	 .layout;
}

@media screen and (max-width:480px){
	.layout;
	header.main{
		padding-right:0px;
	}
	
	footer{
		padding-right:0px;
	} 
}

