.layout(@width:125%)
{
	body{    
	 header.main{ 
		 nav {
				dispay:none;
			}         
		}
		aside{
			display:none;
		}         
		section.main{
		 -webkit-text-size-adjust:@width;
			section.content{
					width:100%;
	  	}
		}
	}
}

@media screen and (max-width:768px){
	 .layout;
}

@media screen and (max-width:320px){
	 .layout;
}

