@import "font";
@import "reset";

@brown: #252525; 

.header-link-style{	
	color: #fff;
	text-decoration: none;
}

.nav-item-spacing{
	margin-top: 1em;
	margin-bottom: 1em;
	padding-right:40px;
}

.clear{
	content: "";
	display: table;
	clear: both;
}

.bottom-left-radius (@radius:4px)
{
	-webkit-border-bottom-left-radius: @radius;
	-moz-border-radius-bottomleft: @radius;
	-o-border-bottom-left-radius: @radius;
	-ms-border-bottom-left-radius: @radius;
	-khtml-border-bottom-left-radius: @radius;
	border-bottom-left-radius: @radius;
}

.bottom-right-radius (@radius:4px)
{
		-moz-border-radius-bottomright: @radius;
		-webkit-border-bottom-right-radius: @radius;
		-o-border-bottom-right-radius: @radius;
		-ms-border-bottom-right-radius: @radius;
		-khtml-border-bottom-right-radius: @radius;
		border-bottom-right-radius: @radius;
}

body {
	background: @brown url('/images/line-tile.png') top left;

	position: relative;
	margin: 0 auto;
	font-size: 1.15em;
 	font-family: 'DroidSansRegular';
 	line-height : 1.5em;

	.content-left-right-spacing{
		padding-left: 55px;
		padding-right: 55px;
	}

	.linear-gradient(@start:#000, @stop:#464646){
		background: -moz-linear-gradient(@start, @stop);
		background:-webkit-linear-gradient(@start, @stop);
		background:linear-gradient(@start, @stop);
	}

	header.main{
		
		font-family: 'TitilliumText22LRegular';
		background: url('/images/noise.png');
		
		.linear-gradient;
		
		-webkit-box-shadow: 0 -1px 1px #ccc inset;
		
		color: #fff;
	
		height:60px;
	
		.content-left-right-spacing;
		
		h1{
			color: inherit;
			font-size: 2.2em;
			font-weight: normal;
			line-height: 1.2em;
			a{
				.header-link-style; 
			}
			&:visited { .header-link-style;}
			&:visited { .header-link-style;}
			padding-top : 10px;
			width:265px;
			float:left;
		}
		
		nav{
			float:right;	
			width:65%;
			
			ul.main-navigation{
				float:right;
				margin:0;
				padding:0;
				display:block;
				text-transform:uppercase;
				
				.nav-item-spacing;
				
				li{
					list-style-image:none;
					list-style-type:none;
					display:inline;
					a{
						color:inherit;
						text-decoration:none;
						padding-left: 20px;
						padding-right:20px;
					}
				}
			}
		}
	}

	section.main{
		padding: 0;
		margin: 0 auto;
		background:#F2F2F2;
		border-bottom: 1px solid #BFBFBF;
		min-height:600px;
		section.content {
			margin-right : 300px;
			border-right: 1px solid #e0e0e0;
			position:relative;
			section
			{
				float:left;
				article{
					.content-left-right-spacing;
					background:url('/images/header-bottom.png') repeat-x 0 0;
					padding-bottom: 10px;
					header{
						padding:0px;
						position: relative;
						background-color : inherit;
						padding-top: 2em;
						padding-bottom: 1em;

						time{
							text-transform: uppercase;
							color : #AAA;
							font-size: .9em;
						}
						h1{
							color: #222;
							font-size: 2.0em;
							line-height: 1.2em;
							font-weight: bold;
							a {
								color:#000;
								text-decoration:none;
							}
						}
					}

					&:first-child {
						header{
							background:url('/images/header-bottom.png') repeat-x 0 100%;
							margin-bottom: 1.5em;
						}
						background: none;
					}
					&:last-child{
						padding-bottom : 2em;
					}

				}
			}	
			&:after {
				.clear;
			}
		}
	}

	aside {
		color: #4b4b4b;
		text-shadow: #fff 0 1px;
		width: 260px;
		padding: 1.2em 20px 20px;
		clear: none;
		float: left;
		margin: 0 -100% 0 0;
		section{
			font-size: .8em;
			line-height: 1.4em;
			margin-bottom: 1.5em;
			h1{
				margin: 1.5em 0 0;
				padding-bottom: .2em;
				border-bottom: 1px solid #e0e0e0;
				-moz-box-shadow: #fff 0 1px;
				-webkit-box-shadow: #fff 0 1px;
				-o-box-shadow: #fff 0 1px;
				box-shadow: #fff 0 1px;
			}
			ul, li{
				list-style:none;
			}
			ul {
				margin-bottom: 0.5em;
				margin-left: 0;
			}
			li{
				padding: .5em 0;
				border-bottom: 1px solid #e0e0e0;
				-moz-box-shadow: #fff 0 1px;
				-webkit-box-shadow: #fff 0 5px;
				-o-box-shadow: #fff 0 1px;
				box-shadow: #fff 0 1px;
				a {
					color: inherit;
				}
			}
		}
		&:after {
			.clear;
		}
	}

 
	footer{
		font-size: .8em;
		color: #888;
		text-shadow: #d9d9d9 0 1px;
		background: url('/images/noise.png'),linear-gradient(#e0e0e0,#cccccc,#b0b0b0);
		background: url('/images/noise.png'),-webkit-linear-gradient(#e0e0e0,#cccccc,#b0b0b0);
		background: url('/images/noise.png'),-moz-linear-gradient(#e0e0e0,#cccccc,#b0b0b0);
		background: url('/images/noise.png'),-o-linear-gradient(#e0e0e0,#cccccc,#b0b0b0);
		background: url('/images/noise.png'),-ms-linear-gradient(#e0e0e0,#cccccc,#b0b0b0);
		background: url('/images/noise.png'),linear-gradient(#e0e0e0,#cccccc,#b0b0b0);
		border-top: 1px solid #f2f2f2;
		position: relative;
		padding-top: 1em;
		padding-bottom: 1em;
		
		.bottom-left-radius;
		.bottom-right-radius;
		
		z-index: 1;
		.content-left-right-spacing;
		p:last-child{
			margin-bottom : 0px;
		}
	}
}
