@font-face {
  font-family: 'TitilliumText22LRegular';
  src: url('/fonts/TitilliumText22L003-webfont.eot');
  src: url('/fonts/TitilliumText22L003-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/TitilliumText22L003-webfont.woff') format('woff'), url('/fonts/TitilliumText22L003-webfont.ttf') format('truetype'), url('/fonts/TitilliumText22L003-webfont.svg#TitilliumText22LRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DroidSansRegular';
  src: url('/fonts/DroidSans-webfont.eot');
  src: url('/fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/DroidSans-webfont.woff') format('woff'), url('/fonts/DroidSans-webfont.ttf') format('truetype'), url('/fonts/DroidSans-webfont.svg#DroidSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LacunaRegular';
  src: url('/fonts/lacuna-webfont.eot');
  src: url('/fonts/lacuna-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/lacuna-webfont.woff') format('woff'), url('/fonts/lacuna-webfont.ttf') format('truetype'), url('/fonts/lacuna-webfont.svg#LacunaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UbuntuRegular';
  src: url('/fonts/Ubuntu-R-webfont.eot');
  src: url('/fonts/Ubuntu-R-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/Ubuntu-R-webfont.woff') format('woff'), url('/fonts/Ubuntu-R-webfont.ttf') format('truetype'), url('/fonts/Ubuntu-R-webfont.svg#UbuntuRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border-image: initial;
}
.header-link-style {
  color: #fff;
  text-decoration: none;
  cursor: hand;
}
.nav-item-spacing {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-right: 40px;
}
.clear {
  content: "";
  display: table;
  clear: both;
}
body {
  max-width: 1000px;
  background: #252525 url('/images/line-tile.png') top left;
  font-family: 'LacunaRegular';
  position: relative;
  margin: 0 auto;
  font-size: 1.15em;
  line-height: 1.5em;
}
body .content-left-right-spacing {
  padding-left: 55px;
  padding-right: 55px;
}
body .linear-gradient {
  background: url('/images/noise.png'), -webkit-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
  background: url('/images/noise.png'), -moz-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
  background: url('/images/noise.png'), -o-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
  background: url('/images/noise.png'), -ms-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
  background: url('/images/noise.png'), linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
}
body header.main {
  font-family: 'TitilliumText22LRegular';
  /*		background: url('/images/bg-black.png');*/

  background: #888;
  background: url('/images/noise.png'), -webkit-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
  background: url('/images/noise.png'), -moz-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
  background: url('/images/noise.png'), -o-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
  background: url('/images/noise.png'), -ms-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
  background: url('/images/noise.png'), linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
  moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  color: #888;
  text-shadow: #d9d9d9 0 1px;
  height: 60px;
  padding-left: 55px;
  padding-right: 55px;
}
body header.main h1 {
  color: inherit;
  font-size: 2.2em;
  font-weight: normal;
  line-height: 1.2em;
  padding-top: 10px;
  width: 265px;
  float: left;
}
body header.main h1 a {
  color: #fff;
  text-decoration: none;
  cursor: hand;
  color: #888;
}
body header.main h1:visited {
  color: #fff;
  text-decoration: none;
  cursor: hand;
}
body header.main h1:visited {
  color: #fff;
  text-decoration: none;
  cursor: hand;
}
body header.main nav {
  float: right;
}
body header.main nav ul.main-navigation {
  float: right;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-right: 40px;
}
body header.main nav ul.main-navigation li {
  list-style-image: none;
  list-style-type: none;
  display: inline;
}
body header.main nav ul.main-navigation li a {
  color: inherit;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}
body section.main {
  padding: 0;
  margin: 0 auto;
  background: #F2F2F2;
  border-bottom: 1px solid #BFBFBF;
  min-height: 600px;
  min-width: 800px;
}
body section.main section.content {
  margin-right: 300px;
  border-right: 1px solid #e0e0e0;
  position: relative;
}
body section.main section.content section.comments {
  width: 100%;
  moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
  z-index: 1;
  position: relative;
  overflow: hidden;
  margin: 0px auto 20px 0;
  padding: 40px 10px 0px 10px;
  background: #ccc!important;
}
body section.main section.content section.comments div.controls {
  font-size: 30px;
  top: 8px;
  left: 10px;
  position: absolute;
  color: #888;
  text-shadow: #d9d9d9 0 1px;
}
body section.main section.content section.comments #disqus_thread {
  padding: 20px 20px 0 20px;
  background: white;
}
body section.main section.content section {
  background: #fff;
  float: left;
}
body section.main section.content section article {
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 10px;
}
body section.main section.content section article header {
  padding: 0px;
  position: relative;
  background-color: inherit;
  padding-top: 2em;
  padding-bottom: 1em;
}
body section.main section.content section article header time {
  text-transform: uppercase;
  color: #AAA;
  font-size: .9em;
}
body section.main section.content section article header h1 {
  color: #222;
  font-size: 2.0em;
  line-height: 1.2em;
  font-weight: bold;
}
body section.main section.content section article header h1 a {
  color: #000;
  text-decoration: none;
}
body section.main section.content section article header h1 a:hover {
  color: #de3f1c;
}
body section.main section.content section article section {
  /* twitter bootstrap*/

  background: url('/images/header-bottom.png') repeat-x 100% 100%;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
}
body section.main section.content section article section h1 {
  font-size: 1.2em;
  padding-top: 5px;
  padding-bottom: 5px;
}
body section.main section.content section article section h2 {
  font-size: 1.1em;
  padding-top: 5px;
  padding-bottom: 5px;
}
body section.main section.content section article section p:first-child {
  padding-top: 0;
}
body section.main section.content section article section p {
  padding-top: 5px;
  padding-bottom: 5px;
}
body section.main section.content section article section p strong {
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 0.1em;
}
body section.main section.content section article section p em {
  font-style: italic;
}
body section.main section.content section article section ol,
body section.main section.content section article section ul {
  list-style-type: none;
  padding: 5px 0 5px 0;
}
body section.main section.content section article section ol li,
body section.main section.content section article section ul li {
  margin: 0 0 5px 20px;
  padding: 0 0 0 15px;
  background: url(/images/list.png) no-repeat top left;
  display: list-item;
  text-align: -webkit-match-parent;
}
body section.main section.content section article section blockquote {
  border: none;
  color: gray;
  background: url('/images/blockquote.png') no-repeat;
  margin: 5px 5px 20px;
  padding: 25px 5px 5px 70px;
}
body section.main section.content section article section div.category {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  padding: 4px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #333333;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
}
body section.main section.content section article section code {
  moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  background: url('/images/code_bg.png') repeat-x 0 0, #002b36;
  padding-top: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
body section.main section.content section article:first-child {
  background: none;
}
body section.main section.content section article:first-child header {
  background: url('/images/header-bottom.png') repeat-x 0 100%;
  margin-bottom: 1.5em;
}
body section.main section.content section article:last-child section {
  padding-bottom: 1em;
  background: none;
}
body section.main section.content:after {
  content: "";
  display: table;
  clear: both;
}
body aside {
  color: #4b4b4b;
  text-shadow: #fff 0 1px;
  width: 260px;
  padding: 1.2em 20px 20px;
  clear: none;
  float: left;
  margin: 0 -100% 0 0;
}
body aside section {
  background: #F2F2F2!important;
  font-size: .8em;
  line-height: 1.4em;
  margin-bottom: 1.5em;
  width: 100%;
}
body aside section h1 {
  margin: 1.5em 0 0;
  padding-bottom: .2em;
  border-bottom: 1px solid #e0e0e0;
  -moz-box-shadow: #fff 0 1px;
  -webkit-box-shadow: #fff 0 1px;
  -o-box-shadow: #fff 0 1px;
  box-shadow: #fff 0 1px;
}
body aside section ul,
body aside section li {
  list-style: none;
}
body aside section ul {
  margin-bottom: 0.5em;
  margin-left: 0;
}
body aside section li {
  padding: .5em 0;
  border-bottom: 1px solid #e0e0e0;
  -moz-box-shadow: #ffffff 0 1px;
  -webkit-box-shadow: #ffffff 0 1px;
  -o-box-shadow: #ffffff 0 1px;
  box-shadow: #ffffff 0 1px;
}
body aside section li a {
  color: inherit;
}
body aside section li:last-child {
  border-bottom: none;
  -moz-box-shadow: #ffffff 0 0px;
  -webkit-box-shadow: #ffffff 0 0px;
  -o-box-shadow: #ffffff 0 0px;
  box-shadow: #ffffff 0 0px;
}
body aside:after {
  content: "";
  display: table;
  clear: both;
}
body footer {
  font-size: .8em;
  color: #888;
  text-shadow: #d9d9d9 0 1px;
  background: url('/images/noise.png'), -webkit-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
  background: url('/images/noise.png'), -moz-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
  background: url('/images/noise.png'), -o-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
  background: url('/images/noise.png'), -ms-linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
  background: url('/images/noise.png'), linear-gradient(#e0e0e0, #cccccc, #b0b0b0);
  border-top: 1px solid #f2f2f2;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -o-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 1;
  padding-left: 55px;
  padding-right: 55px;
}
body footer p:last-child {
  margin-bottom: 0px;
}
